In [8]:
import pandas as pd
import numpy as np

In [9]:
NYTS2022 = pd.read_csv("../NYTS 2022/NYTS 2022 Data/NYTSData2022.csv")
NYTS2021 = pd.read_csv("../NYTS 2021/NYTS 2021 Data/NYTSData2021.csv")
NYTS2020 = pd.read_csv("../NTYS 2020/NYTSData2020.csv")
NYTS2019 = pd.read_csv("../NYTS 2019/NYTSData2019.csv")

In [10]:
NYTS2020.head()

,Unnamed: 0,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,Cigarette_Ever_Used,...,Cigarette_Last_Used,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet
0,1,M,9th,Yes,3.0,1.0,NaN,NaN,NaN,No,...,NaN,No,No,No,NaN,No,Yes,NaN,NaN,NaN
1,2,F,9th,No,NaN,NaN,No,No,No,No,...,NaN,No,No,No,No,NaN,NaN,No,Never,Rarely
2,3,F,9th,No,NaN,NaN,No,No,No,No,...,NaN,No,No,No,Not sure,NaN,NaN,Yes,Most of the time,Sometimes
3,4,F,9th,Yes,2.0,3.0,NaN,NaN,NaN,Yes,...,NaN,NaN,NaN,NaN,NaN,No,Yes,NaN,NaN,NaN
4,5,M,Unplaced,Yes,3.0,0.0,NaN,NaN,NaN,Yes,...,Last Month,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN

In [11]:
frames = [NYTS2022,NYTS2021,NYTS2020]
NYTSFullData = pd.concat(frames)

In [12]:
NYTSFullData.head()

,Unnamed: 0,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,Cigarette_Ever_Used,...,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet,Cigarette_Last_Used
0,1,F,7th,No,NaN,NaN,No,No,No,No,...,No,No,No,Not Sure,NaN,NaN,Agree,Rarely,Rarely,NaN
1,2,F,7th,No,NaN,NaN,No,Yes,No,No,...,No,No,No,Yes,NaN,NaN,Agree,Most of the time,Most of the time,NaN
2,3,F,7th,No,NaN,NaN,No,No,No,No,...,No,No,No,No,NaN,NaN,Strongly Disagree,Never,Never,NaN
3,4,F,7th,No,NaN,NaN,No,No,No,Yes,...,NaN,NaN,NaN,No,NaN,NaN,Agree,Rarely,Rarely,NaN
4,5,F,7th,Yes,30.0,Last 7 Days,NaN,NaN,NaN,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Last 7 Days

In [13]:
NYTSFullData.tail()

,Unnamed: 0,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,Cigarette_Ever_Used,...,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet,Cigarette_Last_Used
14526,14527,M,12th,No,NaN,NaN,No,No,No,No,...,No,No,No,No,NaN,NaN,Yes,Never,Rarely,NaN
14527,14528,F,12th,Yes,5.0,20.0,NaN,NaN,NaN,Yes,...,NaN,NaN,NaN,Yes,No,No,No,Always,Always,Last Month
14528,14529,F,12th,No,NaN,NaN,No,No,No,Yes,...,NaN,NaN,NaN,Yes,NaN,NaN,Yes,Rarely,Always,Last 6 Months
14529,14530,M,12th,No,NaN,NaN,No,No,No,No,...,No,No,No,Yes,NaN,NaN,No,Sometimes,Sometimes,NaN
14530,14531,M,12th,No,NaN,NaN,No,No,No,No,...,NaN,No,No,No,NaN,NaN,No,I do not use the internet,I do not use the internet,NaN

In [14]:
NYTSFullData.to_csv('NYTS16_22.csv')