In [396]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import plotly.express as px
import seaborn as sns
import plotly.graph_objects as go
import operator as op

In [397]:
NYTS2022 = pd.read_csv("../NYTS 2022/NYTS 2022 Data/NYTSData2022.csv")
NYTS2021 = pd.read_csv("../NYTS 2021/NYTS 2021 Data/NYTSData2021.csv")
NYTS2020 = pd.read_csv("../NTYS 2020/NYTSData2020.csv")
NYTS2019 = pd.read_csv("../NYTS 2019/NYTSData2019.csv")
NYTS2018 = pd.read_csv("../NYTS 2018/NYTSData2018.csv")
NYTS2017 = pd.read_csv("../NYTS 2017/NYTSData2017.csv")
NYTS2016 = pd.read_csv("../NYTS 2016/NYTSData2016.csv")

In [398]:
NYTS2022.head()

,Unnamed: 0,Year,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,...,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet,Cigarette_Last_Used
0,1,2022,F,7th,No,NaN,NaN,No,No,No,...,No,No,No,Not Sure,NaN,NaN,Agree,Rarely,Rarely,NaN
1,2,2022,F,7th,No,NaN,NaN,No,Yes,No,...,No,No,No,Yes,NaN,NaN,Agree,Most of the time,Most of the time,NaN
2,3,2022,F,7th,No,NaN,NaN,No,No,No,...,No,No,No,No,NaN,NaN,Strongly Disagree,Never,Never,NaN
3,4,2022,F,7th,No,NaN,NaN,No,No,No,...,NaN,NaN,NaN,No,NaN,NaN,Agree,Rarely,Rarely,NaN
4,5,2022,F,7th,Yes,30.0,Last 7 Days,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Last 7 Days

In [399]:
NYTS2021.head()

,Unnamed: 0,Year,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,...,Cigarette_Days_Used,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet
0,1,2021,M,6th,No,NaN,NaN,Yes,No,No,...,NaN,Yes,No,No,Not Sure,NaN,NaN,Strongly Agree,Rarely,Never
1,2,2021,M,6th,No,NaN,NaN,No,No,No,...,NaN,No,No,No,Yes,NaN,NaN,Agree,Rarely,Sometimes
2,3,2021,M,6th,No,NaN,NaN,No,No,No,...,NaN,No,No,No,No,NaN,NaN,Strongly Agree,I do not use the internet,I do not use the internet
3,4,2021,M,6th,No,NaN,NaN,No,No,No,...,NaN,No,No,No,Not Sure,NaN,NaN,Agree,Rarely,Rarely
4,5,2021,M,6th,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [400]:
NYTS2020.head()

,Unnamed: 0,Year,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,...,Cigarette_Last_Used,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet
0,1,2020,M,9th,Yes,3.0,1.0,NaN,NaN,NaN,...,NaN,No,No,No,NaN,No,Yes,NaN,NaN,NaN
1,2,2020,F,9th,No,NaN,NaN,No,No,No,...,NaN,No,No,No,No,NaN,NaN,No,Never,Rarely
2,3,2020,F,9th,No,NaN,NaN,No,No,No,...,NaN,No,No,No,Not sure,NaN,NaN,Yes,Most of the time,Sometimes
3,4,2020,F,9th,Yes,2.0,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,No,Yes,NaN,NaN,NaN
4,5,2020,M,Unplaced,Yes,3.0,0.0,NaN,NaN,NaN,...,Last Month,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN

In [401]:
NYTS2019.head()

,Unnamed: 0,Year,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,...,Cigarette_Last_Used,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet
0,1,2019,F,9th,No,S,S,No,No,No,...,S,No,No,No,Yes,3,S,Yes,Rarely,Rarely
1,2,2019,M,9th,No,S,S,No,No,No,...,S,No,No,No,Yes,Yes,S,Yes,Sometimes,Rarely
2,3,2019,M,9th,No,S,S,No,No,No,...,S,No,No,No,Yes,Yes,S,Yes,Sometimes,Most of the time
3,4,2019,M,9th,No,S,S,No,No,No,...,S,No,No,No,Yes,Yes,S,Yes,Never,Rarely
4,5,2019,M,9th,No,S,S,No,No,No,...,S,No,No,No,Yes,6,S,Yes,Always,Always

In [402]:
NYTS2018.head()

,Unnamed: 0,Year,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,...,Cigarette_Last_Used,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet
0,1,2018,F,6th,No,1,Today,No,No,No,...,Today,No,No,No,Yes,No,1,Yes,Never,Never
1,2,2018,F,7th,No,1,Today,Yes,Yes,No,...,Today,No,Yes,No,Yes,No,1,Yes,Most of the time,Sometimes
2,3,2018,F,7th,No,1,Today,Yes,No,No,...,Today,No,No,No,Yes,No,1,Yes,Rarely,Rarely
3,4,2018,F,7th,No,1,Today,Yes,Yes,No,...,Today,Yes,No,No,Yes,No,1,Yes,Rarely,Sometimes
4,5,2018,M,7th,No,1,Today,Yes,No,No,...,Today,Yes,No,No,Yes,No,1,Yes,Rarely,Rarely

In [403]:
NYTS2017.head()

,Unnamed: 0,Year,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,...,Cigarette_Days_Used,Cigarette_Last_Used,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet
0,1,2017,F,7th,No,1,Today,No,No,No,...,1,Today,No,No,No,Yes,No,Yes,Never,Never
1,2,2017,F,7th,No,1,Today,No,No,No,...,1,Today,No,No,No,Yes,No,Yes,Rarely,Sometimes
2,3,2017,F,7th,No,1,Today,No,No,No,...,1,Today,No,No,No,Yes,No,No,Sometimes,Sometimes
3,4,2017,F,7th,No,1,Today,No,No,No,...,1,Today,No,No,No,Not Sure,No,Yes,Rarely,Never
4,5,2017,F,7th,No,1,Today,No,No,No,...,1,Today,No,No,No,Yes,No,Yes,Rarely,Always

In [404]:
NYTS2016.head()

,Unnamed: 0,Year,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,Cigarette_Ever_Used,Cigarette_Days_Used,Cigarette_Last_Used,Cigarette_Curiosity,Cigarette_Try,Any_Tobacco_Craving,E_Cig_Promotions_Internet
0,1,2016,M,10th,No,1,Today,No,No,No,No,1,Today,No,No,No,Rarely
1,2,2016,M,10th,Yes,100,Today,Yes,Yes,Yes,Yes,NaN,Last 7 Days,Yes,Yes,No,Rarely
2,3,2016,M,10th,No,1,Today,No,No,No,No,1,Today,No,No,No,Rarely
3,4,2016,M,10th,No,1,Today,No,No,No,No,1,Today,No,No,No,Rarely
4,5,2016,F,10th,No,1,Today,No,No,No,No,1,Today,No,No,No,Rarely

In [386]:
frames = [NYTS2022,NYTS2021,NYTS2020, NYTS2019, NYTS2018,NYTS2017,NYTS2016]
NYTSFullData = pd.concat(frames)
NYTSFullData.drop(NYTSFullData.columns[[0]], axis=1, inplace=True)

In [387]:
NYTSFullData.head()

,Year,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,Cigarette_Ever_Used,...,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet,Cigarette_Last_Used
0,2022,F,7th,No,NaN,NaN,No,No,No,No,...,No,No,No,Not Sure,NaN,NaN,Agree,Rarely,Rarely,NaN
1,2022,F,7th,No,NaN,NaN,No,Yes,No,No,...,No,No,No,Yes,NaN,NaN,Agree,Most of the time,Most of the time,NaN
2,2022,F,7th,No,NaN,NaN,No,No,No,No,...,No,No,No,No,NaN,NaN,Strongly Disagree,Never,Never,NaN
3,2022,F,7th,No,NaN,NaN,No,No,No,Yes,...,NaN,NaN,NaN,No,NaN,NaN,Agree,Rarely,Rarely,NaN
4,2022,F,7th,Yes,30.0,Last 7 Days,NaN,NaN,NaN,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Last 7 Days

In [388]:
NYTSFullData.tail()

,Year,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,Cigarette_Ever_Used,...,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet,Cigarette_Last_Used
20670,2016,F,8th,No,1,Today,No,No,No,No,...,No,No,NaN,NaN,No,NaN,NaN,Sometimes,NaN,Today
20671,2016,F,8th,No,1,Today,Yes,No,No,No,...,No,No,NaN,NaN,No,NaN,NaN,Sometimes,NaN,Today
20672,2016,F,8th,No,1,Today,Yes,Yes,No,Yes,...,Yes,No,NaN,NaN,No,NaN,NaN,Rarely,NaN,Today
20673,2016,F,8th,No,1,Today,No,No,No,No,...,No,No,NaN,NaN,No,NaN,NaN,Most of the time,NaN,Today
20674,2016,F,8th,No,1,Today,No,No,No,No,...,No,No,NaN,NaN,No,NaN,NaN,Never,NaN,Today

In [389]:
NYTSFullData.to_csv('NYTS16_22.csv')

In [390]:
NYTS2022N = pd.read_csv("../NYTS 2022/NYTS 2022 Data/NYTS2022DataNumbers.csv")
NYTS2021N = pd.read_csv("../NYTS 2021/NYTS 2021 Data/NYTS2021DataNumbers.csv")
NYTS2020N = pd.read_csv("../NTYS 2020/NYTS2020DataNumbers.csv")
NYTS2019N = pd.read_csv("../NYTS 2019/NYTS2019DataNumbers.csv")
NYTS2018N = pd.read_csv("../NYTS 2018/NYTS2018DataNumbers.csv")
NYTS2017N = pd.read_csv("../NYTS 2017/NYTS2017DataNumbers.csv")
NYTS2016N = pd.read_csv("../NYTS 2016/NYTS2016DataNumbers.csv")

In [391]:
NYTS2019N.tail()

,Unnamed: 0,Year,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,...,Cigarette_Last_Used,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet
681,682,2019,1,3,1,3,2,S,S,S,...,S,2,3,3,1,4,4,3,3,4
682,683,2019,2,3,1,2,5,S,S,S,...,S,4,3,4,2,1,3,1,2,2
683,684,2019,1,3,1,4,1,S,S,S,...,S,4,3,3,2,1,1,2,3,4
684,685,2019,1,3,2,S,S,1,2,2,...,S,1,3,3,2,1,S,1,3,4
685,686,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [392]:
framesN = [NYTS2022N,NYTS2021N,NYTS2020N, NYTS2019N, NYTS2018N,NYTS2017N,NYTS2016N]
NYTSFullDataNumbers = pd.concat(framesN)
NYTSFullDataNumbers.drop(NYTSFullDataNumbers.columns[[0]], axis=1, inplace=True)

In [393]:
NYTSFullDataNumbers.head()

,Year,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,Cigarette_Ever_Used,...,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet,Cigarette_Last_Used
0,2022,2.0,2.0,2.0,NaN,NaN,4.0,4.0,4.0,2.0,...,4.0,4.0,4.0,3.0,NaN,NaN,2.0,3.0,3.0,NaN
1,2022,2.0,2.0,2.0,NaN,NaN,3.0,2.0,3.0,2.0,...,4.0,4.0,4.0,1.0,NaN,NaN,2.0,5.0,5.0,NaN
2,2022,1.0,2.0,2.0,NaN,NaN,4.0,4.0,4.0,2.0,...,4.0,4.0,4.0,2.0,NaN,NaN,4.0,2.0,2.0,NaN
3,2022,1.0,2.0,2.0,NaN,NaN,3.0,3.0,3.0,1.0,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,3.0,3.0,NaN
4,2022,1.0,2.0,1.0,30.0,2.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [394]:
NYTSFullDataNumbers.to_csv('NYTS16_22_Numbers.csv')

In [395]:

gradeData = [op.countOf(NYTS2016['Grade_of_Student'], '6th'),
        op.countOf(NYTS2016['Grade_of_Student'], '7th'), 
        op.countOf(NYTS2016['Grade_of_Student'], '8th'),
        op.countOf(NYTS2016['Grade_of_Student'], '9th'),
        op.countOf(NYTS2016['Grade_of_Student'], '10th'),
        op.countOf(NYTS2016['Grade_of_Student'], '11th'),
        op.countOf(NYTS2016['Grade_of_Student'], '12th'),
        op.countOf(NYTS2016['Grade_of_Student'], 'Unplaced')]

labels = ['6th', '7th', '8th', '9th', '10th', '11th', '12th', 'Unplaced']

color_discrete_sequence = px.colors.qualitative.Vivid


fig = go.Figure(data=[go.Pie(labels=labels, values=gradeData, sort=False, pull=[0, 0, 0, 0, 0])])
fig.update_layout(
    title={
        'text': "Grade of Students Surveryed from 2016-2022",
        'y':0.9,
        'x':0.5,
        'xanchor': 'center',
        'yanchor': 'top'},
        legend_title="Grade",
    font=dict(family='SOURCE SANS PRO', size=14)
)

fig.update_traces(hoverinfo='label+value', textinfo='label+percent', textfont_size=20,
                  marker=dict(colors=color_discrete_sequence))

fig.show()