In [42]:
import pandas as pd
import numpy as np

In [43]:
NYTS2022 = pd.read_csv("../NYTS 2022/NYTS 2022 Data/NYTSData2022.csv")
NYTS2021 = pd.read_csv("../NYTS 2021/NYTS 2021 Data/NYTSData2021.csv")
NYTS2020 = pd.read_csv("../NTYS 2020/NYTSData2020.csv")
NYTS2019 = pd.read_csv("../NYTS 2019/NYTSData2019.csv")
NYTS2018 = pd.read_csv("../NYTS 2018/NYTSData2018.csv")

In [44]:
NYTS2022.head()

,Unnamed: 0,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,Cigarette_Ever_Used,...,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet,Cigarette_Last_Used
0,1,F,7th,No,NaN,NaN,No,No,No,No,...,No,No,No,Not Sure,NaN,NaN,Agree,Rarely,Rarely,NaN
1,2,F,7th,No,NaN,NaN,No,Yes,No,No,...,No,No,No,Yes,NaN,NaN,Agree,Most of the time,Most of the time,NaN
2,3,F,7th,No,NaN,NaN,No,No,No,No,...,No,No,No,No,NaN,NaN,Strongly Disagree,Never,Never,NaN
3,4,F,7th,No,NaN,NaN,No,No,No,Yes,...,NaN,NaN,NaN,No,NaN,NaN,Agree,Rarely,Rarely,NaN
4,5,F,7th,Yes,30.0,Last 7 Days,NaN,NaN,NaN,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Last 7 Days

In [45]:
NYTS2021.head()

,Unnamed: 0,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,Cigarette_Ever_Used,Cigarette_Days_Used,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet
0,1,M,6th,No,NaN,NaN,Yes,No,No,No,NaN,Yes,No,No,Not Sure,NaN,NaN,Strongly Agree,Rarely,Never
1,2,M,6th,No,NaN,NaN,No,No,No,No,NaN,No,No,No,Yes,NaN,NaN,Agree,Rarely,Sometimes
2,3,M,6th,No,NaN,NaN,No,No,No,No,NaN,No,No,No,No,NaN,NaN,Strongly Agree,I do not use the internet,I do not use the internet
3,4,M,6th,No,NaN,NaN,No,No,No,No,NaN,No,No,No,Not Sure,NaN,NaN,Agree,Rarely,Rarely
4,5,M,6th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
NYTS2020.head()

,Unnamed: 0,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,Cigarette_Ever_Used,...,Cigarette_Last_Used,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet
0,1,M,9th,Yes,3.0,1.0,NaN,NaN,NaN,No,...,NaN,No,No,No,NaN,No,Yes,NaN,NaN,NaN
1,2,F,9th,No,NaN,NaN,No,No,No,No,...,NaN,No,No,No,No,NaN,NaN,No,Never,Rarely
2,3,F,9th,No,NaN,NaN,No,No,No,No,...,NaN,No,No,No,Not sure,NaN,NaN,Yes,Most of the time,Sometimes
3,4,F,9th,Yes,2.0,3.0,NaN,NaN,NaN,Yes,...,NaN,NaN,NaN,NaN,NaN,No,Yes,NaN,NaN,NaN
4,5,M,Unplaced,Yes,3.0,0.0,NaN,NaN,NaN,Yes,...,Last Month,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN

In [47]:
NYTS2019.head()

,Unnamed: 0,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,Cigarette_Ever_Used,...,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet,Cigarette_Last_Usedd
0,1,F,9th,No,S,S,No,No,No,No,...,No,No,No,Yes,3,S,Yes,Rarely,Rarely,NaN
1,2,M,9th,No,S,S,No,No,No,No,...,No,No,No,Yes,Yes,S,Yes,Sometimes,Rarely,NaN
2,3,M,9th,No,S,S,No,No,No,No,...,No,No,No,Yes,Yes,S,Yes,Sometimes,Most of the time,NaN
3,4,M,9th,No,S,S,No,No,No,No,...,No,No,No,Yes,Yes,S,Yes,Never,Rarely,NaN
4,5,M,9th,No,S,S,No,No,No,No,...,No,No,No,Yes,6,S,Yes,Always,Always,NaN

In [48]:
NYTS2018.head()

,Unnamed: 0,Year,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,...,Cigarette_Last_Used,Cigarette_Curiosity,Cigarette_Try,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet
0,1,2018,F,6th,No,1,Today,No,No,No,...,Today,No,No,No,Yes,No,1,Yes,Never,Never
1,2,2018,F,7th,No,1,Today,Yes,Yes,No,...,Today,No,Yes,No,Yes,No,1,Yes,Most of the time,Sometimes
2,3,2018,F,7th,No,1,Today,Yes,No,No,...,Today,No,No,No,Yes,No,1,Yes,Rarely,Rarely
3,4,2018,F,7th,No,1,Today,Yes,Yes,No,...,Today,Yes,No,No,Yes,No,1,Yes,Rarely,Sometimes
4,5,2018,M,7th,No,1,Today,Yes,No,No,...,Today,Yes,No,No,Yes,No,1,Yes,Rarely,Rarely

In [49]:
frames = [NYTS2022,NYTS2021,NYTS2020, NYTS2019, NYTS2018]
NYTSFullData = pd.concat(frames)

In [50]:
NYTSFullData.head()

,Unnamed: 0,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,Cigarette_Ever_Used,...,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet,Cigarette_Last_Used,Cigarette_Last_Usedd,Year
0,1,F,7th,No,NaN,NaN,No,No,No,No,...,No,Not Sure,NaN,NaN,Agree,Rarely,Rarely,NaN,NaN,NaN
1,2,F,7th,No,NaN,NaN,No,Yes,No,No,...,No,Yes,NaN,NaN,Agree,Most of the time,Most of the time,NaN,NaN,NaN
2,3,F,7th,No,NaN,NaN,No,No,No,No,...,No,No,NaN,NaN,Strongly Disagree,Never,Never,NaN,NaN,NaN
3,4,F,7th,No,NaN,NaN,No,No,No,Yes,...,NaN,No,NaN,NaN,Agree,Rarely,Rarely,NaN,NaN,NaN
4,5,F,7th,Yes,30.0,Last 7 Days,NaN,NaN,NaN,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Last 7 Days,NaN,NaN

In [51]:
NYTSFullData.tail()

,Unnamed: 0,Gender,Grade_of_Student,E_Cig_Ever_Used,E_Cig_Days_Used,E_Cig_Last_Used,E_Cig_Curiousity,E_Cig_Try,E_Cig_Try_Next_Year,Cigarette_Ever_Used,...,Cigarette_Try_Next_Year,The_Real_Cost,Any_Tobacco_Craving,Attempt_Quitting_Tobacco,Are_Tobacco_Products_Harmful,E_Cig_Promotions_Internet,Tobacco_Promotions_Internet,Cigarette_Last_Used,Cigarette_Last_Usedd,Year
20184,20185,M,8th,No,1,Today,No,No,No,No,...,No,Yes,No,1,Yes,Never,Rarely,Today,NaN,2018.0
20185,20186,M,8th,No,1,Today,No,No,No,No,...,No,No,No,1,Yes,Never,Never,Today,NaN,2018.0
20186,20187,M,8th,No,1,Today,No,No,No,No,...,No,Not sure,No,1,Yes,Rarely,Sometimes,Today,NaN,2018.0
20187,20188,M,8th,No,1,Today,Yes,No,No,No,...,No,Not sure,No,1,Yes,Never,Sometimes,Today,NaN,2018.0
20188,20189,F,8th,No,1,Today,Yes,No,No,No,...,No,Not sure,No,1,Yes,Rarely,Sometimes,Today,NaN,2018.0

In [52]:
NYTSFullData.to_csv('NYTS16_22.csv')